* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial;
}

header {
    color: #17233D;
    margin: 47px 0px 30px 42px;
    font-size: 14px;
    font-weight: 400;
}

.menu {
    margin: 15px;
}

.button_signup {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    width: 124px;
    height: 51px;
    background-color: #6FBF44;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.splash_image {
    width: 500px;
    display: inline-block;
    margin: 0px 50px 0px 50px;
}

.box_text {
    display: inline-block;
}

h1 {
    width: 582px;
    height: 164px;
    color: #161A49;
    font-size: 62px;
    font-weight: 700;
}

.main_text {
    width: 493px;
    height: 99px;
    color: #4B505A;
    line-height: 33px;
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0px;
}

.button_learmore {
    width: 112px;
    height: 27px;
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
}